.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2.5%;
    background-color: var(--primary);
    padding-bottom: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.nav div:nth-child(2){
    display: flex;
    justify-content: right;
    gap: 10px;
    align-items: center;
}

.nav div span{
    background-color: var(--background);
    padding: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav div section{
    display: flex;
    background-color: var(--background);
    align-items: center;
    justify-content: left;
    gap: 3px;
    padding: 5px 8px;
    border-radius: 20px;
    width: 250px;
    cursor: pointer;
}

.nav div section p{
    opacity: 0.8;
}

@media screen and (max-width: 950px){
    .nav div section p{
        display: none;
    }
    .nav div section{
        border-radius: 50%;
        width: max-content;
        padding: 8px;
    }
}